/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

a,
a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #b1663c;
}

header {
  display: flex;
  justify-content: space-between;
  /*margin: 50px 0;*/
  padding-top: 110px;
  row-gap: 50px;
  flex-wrap: wrap;
}

/*header .nomargins {
  margin: 0;
}*/

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

#button__logout {
  display: none;
}

.selected--menuitem {
  font-weight: 600;
}

li:hover {
  color: #b1663c;
}

.instagram {
  width: 40px;
  height: 40px;
  background-image: url("./icons/instagram.png");
}

.instagram:hover {
  background-image: url("./icons/instagram--on.png");
}

#introduction {
  display: flex;
  /*align-items: center;*/
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  column-gap: 40px;
}

#introduction figure {
  flex: 1;
  /*align-self: center;*/
}

#introduction figure div {
  width: 100%;
}

#introduction figure div a {
  clear: both;
  float: left;
  margin-top: 16px;
}

#introduction figure #sophie {
  display: block;
  margin: auto;
  width: 100%;
}

/*#sophie::after {
  content: "rzarzaazre";
  display: block;
  position: absolute;
  top: 200px;
  left: 10px;
  color: red;
}*/

#introduction article {
  flex: 1;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
  line-height: 1.2rem;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 100px;
  display: flex;
  column-gap: 16px;
  justify-content: center;
}

.gallery {
  width: 90%;
  /*max-width: 940px;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 0 auto;
}

.gallery__errormsg {
  text-align: center;
  font-size: 24px;
  font-weight: 800;
}

.gallery figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: calc (438px + 24px);
}

.gallery img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 438px;
  /*max-height: 489px;*/
  object-fit: cover;
}

.gallery figcaption {
  height: 24px;
  overflow: hidden;
  width: 100%;
  /*border: 1px solid red;*/
}

.filters {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin: 50px auto;
  justify-content: center;
}

.filter {
  border-radius: 60px;
  padding: 1.2ch 2ch;
  font-family: "Syne";
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #1d6154;
}

.filter:hover {
  background-color: #0e2f28;
  color: #fffef8;
}

.filter--selected {
  background: #1d6154;
  color: #fffef8;
}

.filter--unselected {
  background: #fffef8;
  /*border: 1px solid #1d6154;*/
  color: #1d6154;
  cursor: pointer;
}

#contact {
  width: 50%;
  margin: auto;
}

#contact > * {
  text-align: center;
}

#contact h2 {
  margin-bottom: 20px;
}

#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
  margin: 2em 0 1em 0;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0e2f28;
  color: #fffef8;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.forgot__password {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

/*

EDIT MODE CLASSES

*/

.edit__icon {
  height: 18px;
  width: 18px;
  /*visibility: hidden;*/
}

.editionmode__topbar {
  height: 60px;
  width: 100%;
  background-color: #000;
  /*flex-shrink: 0;*/
  display: none;
  color: #fff;
  z-index: 2;
}

.editionmode__topbar img {
  margin-top: -3px;
}

.editionmode__topbar--on {
  display: flex;
  position: fixed;
  justify-content: center;
  column-gap: 20px;
  align-items: center;
  left: 0;
  top: 0;
  font-size: 16px;
}

.button__topbar {
  background-color: #fff;
  color: #000;
  font-size: 14px;
  padding: 14px 24px;
  font-weight: 500;
  border-radius: 60px;
  cursor: pointer;
}

.header__padding--notopBar {
  padding-top: 50px;
}

.modifier {
  cursor: pointer;
  display: none;
}

/*

MODALE

*/

#opaque__container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  /*display: flex;*/
  justify-content: center;
  display: none;
  overflow: auto;
  z-index: 1;
}

#modale__container {
  margin-top: 64px;
  height: fit-content;
  flex-shrink: 0;
  /*max-height: 80vh;*/
  width: 630px;
  max-width: 100vh;
  background-color: #fff;
  border-radius: 10px;
  padding: 32px 36px 48px 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#edition__gallery {
  display: grid;
  width: 420px;
  gap: 13px 9px;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 117px;
}

#edition__gallery .thumb {
  max-height: 104px;
  /*height: 100%;*/
  height: 104px;
  width: 100%;
  object-fit: cover;
}

#edition__gallery .bin__icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 17px;
  width: 17px;
  cursor: pointer;
  margin: 6px 6px 0 0;
}

#modale__backnClose {
  height: 14px;
  display: flex;
  justify-content: space-between;
  width: 564px;
}

#modale__arrow__back {
  visibility: hidden;
  cursor: pointer;
}

#modale_close {
  cursor: pointer;
}

h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  margin: 24px 0 36px 0;
  /*background-color: red;*/
}

.modale__hr {
  width: 100%;
  margin-top: 48px;
  /*border: none;
  border: 1px solid #b3b3b3;
  height: 1px;
  width: 100%;*/
}

.modale__button {
  border-radius: 60px;
  padding: 10px 48px;
  font-family: "Syne";
  font-size: 14px;
  font-weight: 700;
  background-color: #1d6154;
  border: 1px solid #1d6154;
  cursor: pointer;
  color: #fffef8;
  margin-top: 34px;
  width: 236px;
  align-self: center;
}

.modale__button:hover {
  background-color: #0e2f28;
}

#addpic__container {
  background-color: #e8f1f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 0 20px 0;
  width: 100%;
}

#addpic__container img {
  /*width: 58px;*/
  max-height: 200px;
}

.modale__body {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  /*align-items: center;*/
  width: 420px;
}

.modale__body--hidden {
  display: none;
}

.modale__body p {
  text-align: center;
}

.modale__body label {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /*line-height: 16px;*/
  color: #3d3d3d;
  margin: 2em 0 1em 0;
}

.modale__body input[type="text"],
.modale__body select {
  height: 50px;
  font-size: 1.2em;
  width: 100%;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  color: #444;
  /*-moz-appearance: none;
  -webkit-appearance: none;*/
}

.modale__body select,
.modale__body select option {
  color: #444;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  padding-left: 16px;
}

.modale__body select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("./icons/select-arrow.png");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 29px);
  background-position-y: calc(50%);
}

.grey__bg--whitetxt {
  background-color: #a7a7a7;
  color: #fff;
}

.grey__bg--greentxt {
  background-color: #a7a7a7;
  color: #306685;
}

.green__bg--whitetxt {
  background-color: #1d6154;
  color: #fff;
}

input[type="file"] {
  all: unset;
  display: none;
}

#fileselect_button {
  cursor: pointer;
  border: none;
  color: #306685;
  font-family: "Work Sans";
  font-size: 14px;
  font-weight: 500;
  width: fit-content;
  padding-right: 32px;
  padding-left: 32px;
}

#fileselect_button:hover {
  color: #fff;
}

.filesize {
  font-size: 10px;
}

#upload__submitbutton:disabled {
  background-color: #a7a7a7;
  color: #fff;
  border-color: #a7a7a7;
}

/*

LOGIN PAGE

*/

.login__errorbox {
  background-color: #ffdddd;
  width: 100%;
  border: 1px solid #ff8888;
  padding: 16px 32px;
  width: 100%;
  color: #dd6666;
  display: none;
}

.uploadwork__errorbox {
  margin-top: 32px;
  background-color: #ffdddd;
  width: 100%;
  border: 1px solid #ff8888;
  padding: 16px 32px;
  width: calc(100% - 66px);
  color: #dd6666;
  display: none;
}

.first__focus {
  cursor: default;
}

.first__focus:hover,
.first__focus:any-link {
  text-decoration: none;
  color: #000;
}

.first__focus:focus {
  text-decoration: none;
  outline: none;
}

/** CELLPHONE TEMP **/

@media screen and (max-width: 768px) {
  h1 {
    margin: 0 auto;
  }

  section {
    margin: 24px;
  }

  #introduction {
    flex-direction: column;
  }

  #introduction article h2 {
    text-align: center;
  }

  #introduction article a {
    order: 2;
    margin-top: 12px;
    align-self: flex-end;
  }

  /*nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0 auto;
    border: 1px solid red;
  }*/

  #header nav {
    width: 100%;
  }

  #header nav ul {
    justify-content: center;
  }

  .filters {
    row-gap: 20px;
  }

  .filter {
    font-size: 14px;
    width: 35%;
  }

  #portfolio h2 {
    margin-top: 64px;
    flex-direction: column;
    row-gap: 16px;
  }

  .gallery figcaption {
    height: 48px;
  }
}
